/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
} 
.style1 {color: #666666}
.style25 {font-size: 13px; font-family: Tahoma; }
.style26 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 21px;
}
.style29 {color: #575757}
.style30 {color: #2D998B}
.style33 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
}
.style36 {color: #CCCCCC}
.style37 {
	color: #575757;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style38 {color: #3399FF; font-size: 13px; }
.style41 {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #009;
	
	text-align: center;	
	text-decoration: none;
}
.style39 {	color: #3399FF;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}



.boader {
	color: #333;
}
.copyright{
	color: #999;
	font-size: 12px;
	text-align: center;
}
.main_image {
    width: 100px;
    height: 100px;
    float: left;
    background: #333;
    position: relative;
    overflow: hidden; /*--Overflow hidden allows the description to toggle/tuck away as it slides down--*/
    color: #fff;
}
.second_image {
	padding: 0 0 0 30px;
	position:;
	width: 70px;
	height: 70px;
	float: center;
	/*background: #333;*/
    position: relative;
	overflow: hidden; /*--Overflow hidden allows the description to toggle/tuck away as it slides down--*/
	border-bottom: 0px solid #ccc;
    border-top: 0px solid #fff;
    border-right: 0px solid #ccc;
	border-left: 0px solid #ccc;
	
    /*color: #fff; */
}
.right_side_bar{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #F00;
	text-decoration: none;
	font-weight:bold;
}
.right_side_bar_list{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	
}
.bg-text{
	color: #FFF;
	background-color: #0C3;
}
.bg-second{
	background: #CAE1FF;
}
.bg-white{
    background: #FFF;
}

.banner{color:#FFF;font-size:13px;text-align:Center;background:url('image/bg.png') bottom left;overflow:hidden;padding:8px 25px;}
.banner a{color:#FFF;text-decoration:underline;}
.banner a:visited{
	color:#326EE9;
	text-decoration:underline;

.Footer{color:#FFF;font-size:13px;text-align:Center;background:url('image/bg.png') bottom left;overflow:hidden;padding:8px 25px;}
.Footer a{color:#FFF;text-decoration:underline;}
.Footer a:visited{
	color:#326EE9;
	text-decoration:underline;
}
.Footer a:hover{color:#FFF;text-decoration:none;}	
